@page
@model MelanWeb.Pages.PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border text-left">
            @foreach (Objects.PortfolioObject item in GithubPortfolio.Content.PortfolioObjects)
            {
                <div class="section-top-border text-left">
                    <h3 class="mb-30">@item.Name</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-left">
                                @item.Description
                            </p>
                            <a class="text-left" href=@item.GithubLink target="_blank">Github</a>
                        </div>
                        <!--If array.Length > 0 else github placeholder?-->
                        @if (item.IssueURLs.Length > 0)
                        {
                            <div class="col-md-3">
                                <img src=@item.IssueObjects[0].ImgURL class="img-fluid logo_experience" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <img src="~/img/portfolio/1.png" class="img-fluid logo_experience" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Align Area -->
